@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/typography" as *;

.info{
    @include desktop{
        display: flex;
        margin:0 6rem 0 6rem;
       }
     &-text{
        @include desktop{
            border-right: 0.09rem solid $mercury;
            width: 55vw;
        }
     }  
}