@use "./typography" as *;

// Primary Colors
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

// Secondary Colors
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$font-avenir-regular: 400;
$font-avenir-demi: 600;
$font-avenir-bold: 700;
