@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.gallery{
 margin: 1rem;
 
    h1{
        @include subheader-mobile;
        font-weight: 600;
        color: $silver;
        margin: 1rem 0 1rem;

        @include tablet{
            @include section-header-desktop;
            font-weight: 600;
            margin: 1rem 0 1.5rem;
        }
    }

    &-list{
        display: flex;
        padding: 0;
        flex-direction: column;
        gap:.5rem;
        
        &__item{
            display: flex;
            flex-direction: row;  
            gap:1rem;
            
            &-image{
                box-sizing: border-box;
                height: 100%;
                img{
                    background-color: $mercury;
                    width: 6.25rem;
                    border-radius: .25rem;

                    @include tablet{
                        width: 7rem;  
                    }
                }
            }

         &-text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                @include subheader-mobile;
                color:$brainflix-black;
                margin: 0;
                @include tablet{
                    @include subheader-desktop;
                    font-weight: 600;
                }
            }
            p{
                @include body-copy-mobile;
                color:$brainflix-darkblack;
                margin: 0 0 .3rem;
            }
         }
        }
        @include tablet{
            gap:1.125rem;
        }
    }
    @include tablet{
        margin: 1.5rem 26rem 2rem 2rem;
      }

      @include desktop{
        margin: 1.5rem 4rem 2rem 2rem;
      }
}