@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.gallery {
  margin: 1rem;

  h1 {
    @include subheader-mobile;
    font-weight: 600;
    color: $silver;
    margin: 1rem 0 1rem;

    @include tablet {
      @include section-header-desktop;
      font-weight: 600;
      margin: 1rem 0 1.5rem;
    }
  }

  &-list {
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: .75rem;

    &__item {
      display: flex;
      flex-direction: row;

      &-link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: inherit;
        gap: 1rem;

        &-image {
          width:6.5rem ;
          height: auto;
          background-color: $mercury;

          img {
            width: 6.5rem;
            height: 100%;
            background-color: $mercury;
            border-radius: 0.25rem;

            @include tablet {
              width: 7rem;
            }
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h2 {
            @include subheader-mobile;
            color: $brainflix-black;
            margin: 0;

            @include tablet {
              @include subheader-desktop;
              font-weight: 600;
            }
          }

          p {
            @include body-copy-mobile;
            color: $brainflix-darkblack;
            margin: 0 0 0.3rem;
          }
        }
      }
    }

    @include tablet {
      gap: 1.125rem;
    }
  }

  @include tablet {
    margin: 1.5rem 26rem 2rem 2rem;
  }

  @include desktop {
    margin: 1.5rem 4rem 2rem 1.5rem;
  }
}