@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.header {
  padding: 1rem;
  @include flex-center;
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;

  &-content {
    &__logo {
      background-color: $white;
      max-height: 1.5625rem;
    }

    &__search {
      width: 100%;
      @include flex-space-between;
      gap: 1rem;

      &-input {
        background: url("../../assets/Icons/search.svg") no-repeat 0.76rem 50%
          $alabaster;
        background-size: 1rem;
        width: 100%;
        height: 2.3rem;
        max-width: 100%;
        border-radius: 0.25rem;
        border: 0.0625rem solid $mercury;
        padding: 0.25rem 0.25rem 0.25rem 2.2rem;
        box-sizing: border-box;

        &:focus {
          border: 0.125rem solid $brainflix-blue;
        }

        &.error {
          border: 0.0625rem solid #d22d2d;
        }

        &::placeholder {
          @include labels-buttons-mobile;
          font-weight: 600;
          color: $brainflix-black;
          display: flex;
          align-items: center;
        }

        @include tablet {
          background-size: 1.1rem;
          height: 2.6rem;
        }

        &::placeholder {
          @include labels-buttons-desktop;
          font-weight: 00;
        }
      }

      &-murgan {
        border-radius: 50%;
        width: 2.3rem;
        height: 2.3rem;
        object-fit: cover;
        object-position: 15%85%;

        @include tablet {
          display: none;
        }
      }

      @include tablet {
        margin-left: 6rem;
        margin-right: 0.8rem;
      }

      @include desktop {
        margin-left: 26rem;
      }
    }

    &__button {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1.125rem;

      button {
        background: url("../../assets/Icons/upload.svg") no-repeat 0.5rem 50%
          $brainflix-blue;
        background-size: 1.3rem;
        height: 2.5rem;
        width: 100%;
        border-radius: 0.25rem;
        border: none;
        color: $white;
        text-align: center;

        h3 {
          @include labels-buttons-mobile;
          margin: 0;
        }
      }

      &-murgan {
        display: none;

        @include tablet {
          display: flex;
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          object-fit: cover;
          object-position: 15%85%;
        }
      }

      @include tablet {
        width: 70vw;
      }

      @include desktop {
        gap: 2.125rem;
      }
    }
  }

  @include tablet {
    flex-direction: row;
    @include flex-space-around;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  @include desktop {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
