@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.Video-container {

    margin: 0;
    background-color: $brainflix-darkblack; 
    @include flex-center;

    &__video {
        box-sizing: border-box;
        width: 42rem;
        aspect-ratio: 16 / 9; 
      video{
        overflow: hidden;
        box-sizing: border-box;
        object-fit:cover;
      }
    }
  }