@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.Video-container {
  margin: 0;
  background-color: $brainflix-darkblack;
  @include flex-center;

  &__video {
    @include flex-center;
    box-sizing: border-box;
    width: 91%;
    aspect-ratio: 16 / 9;
    height: auto;
    video {
      width: 100%;
      overflow: hidden;
      object-fit: cover;
    }

    @include desktop {
      width: 68%;
    }
  }
}
