@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.comments {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin:0 1rem 1rem 1rem;

  &-section {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 0.09rem solid $mercury;

    &__circle {
      display: flex;
      padding-top: .75rem;

      &-color {
        width: 2.6rem;
        height: 2.6rem;
        background-color: $mercury;
        border-radius: 50%;
      }

      @include tablet{
        padding-top: 1.125rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;

      &-tags {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 66.5vw;

        h3 {
          @include subheader-mobile;
          color: $brainflix-black;
          margin: .8rem 0 .7rem;
          @include tablet{
            margin-top: 1.4rem;
          }
        }
        h4 {
          @include subheader-mobile;
          font-weight: 400;
          color: $silver;
        }

        @include tablet{
          width: 82vw;
        }
        @include desktop{
          width: 46vw;
        }
      }

      &-comments {
        p {
          @include body-copy-mobile;
          color: $brainflix-black;
          margin-top: 0;

          @include tablet{
            margin-bottom: 1.4rem;
          }
        }
     }
    }
    @include desktop{
      padding-right: 1.5rem;
      gap: 2rem;
      border-top: 0.09rem solid $mercury;
      border-bottom: none;
    }
  }

  @include tablet{
    margin:0 2rem 0rem 2rem;
  }
  @include desktop{
    margin-right: 0rem;
  }
}
